@model IEnumerable<FreeLanceBilal.Models.Documents>

@{
    ViewBag.Title = "BILAL SYSTEM | Document List";
}
<section class="content-header">
    <h1>
        Users
        <small>Appliacation Users</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("DocumentList","Admin")"><i class="fa fa-file"></i> File Management</a></li>
        <li class="active fa-list">List</li>
    </ol>
</section>

<!--Content Body-->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3><a class="btn btn-success" href="@Url.Action("AddDocument", "Admin")"><span class="fa fa-upload">Upload New</span></a></h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                    </div>
                </div>
                
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table" id="example1">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.DocumentName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Document)
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DocumentName)
                                </td>
                                <td>
                                    <a href="@Url.Content(item.Document)"><span class="fa fa-3x fa-file"></span></a>
                                </td>
                                <td>
                                    @Html.ActionLink("Delete", "DeleteDocument", new { id = item.DocumentId })
                                </td>

                            </tr>
                        }
                        <tfoot>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.DocumentName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Document)
                                </th>
                                <th>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <h5>Click on the Document to Download</h5>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
