@model IEnumerable<FreeLanceBilal.Models.UserAccounts>

@{
    ViewBag.Title = "UserList";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Users
        <small>Appliacation Users</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("UserList","Admin")"><i class="fa fa-user-secret"></i> User Management</a></li>
        <li class="active fa-list">List</li>
    </ol>
</section>
   
    <!--Content Body-->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3><a class="btn btn-success" href="@Url.Action("AddUser", "Admin")">Create New</a></h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                        </div>
                    </div>    
                    <!-- /.box-header -->
                    <div class="box-body">
                       
                        <table id="example1" class="table table-bordered table-striped">
                            
                    

                    <!-- /.box-header -->
                   
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UserName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Password)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EmailAddress)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Password)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmailAddress)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "EditUser", new { id = item.UserId }) |
                                        @Html.ActionLink("Delete", "DeleteUser", new { id = item.UserId })
                                    </td>
                                </tr>
                            }
                            <tfoot>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UserName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Password)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EmailAddress)
                                    </th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
